body {
    height: 100vh;
}
.carte-img {
    width: 600px;
    height: auto;
    background: #f1f1f1;
    border: 1px solid #333;
}
.block-img {
    height: 70%;
    width: 100%;
    overflow: hidden;
}
.img-responsive {
    width: 100%;
    height: auto;
}
.carte-img h3 {
    padding: 10px;
}
.carte-img p {
    padding: 0 10px 10px 10px;
}
.carte-img hr {
    margin-bottom: 15px;
}
.carte-img a {
    padding: 0 10px;
    color: #333;
    text-decoration: none;
}